* {
    box-sizing: border-box;
}

body {
    background: gray;
    color: white;
    word-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#div1 {
    border: 3px solid black;
    background: yellow;
    color: blue;
    width: 80%;

}

.underline {
    text-decoration: underline;
}

li {
    /* list-style-image: url('../../image/1.jpg'); */
    /* list-style-type: square; */
    list-style-position: inside;
}