* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: rgb(14, 185, 111);
    background: #000000;
}

.topnav ul {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}

.topnav ul:first-child li {
    border-right: #ccc 1px dashed;
    border-width: 80%;
    padding-right: 15px;
}

.topnav ul:nth-child(2) li {
    border-left: #ccc 1px dashed;
    border-width: 80%;
    padding-left: 15px;
}

.topnav ul:nth-child(-n+2) li {
    float: left;
    margin: 5px 10px 0px 0px;
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
}


a:hover,
a:visited,
a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: blue;
}

a:hover {
    color: #1e90ff;
    text-decoration: underline;
}

a[href]::after {
    content: "(" + attr(href) + ")"
}

code {
    color: #ccc;
}

code span[br]::before {
    content: '\a';
    white-space: pre-wrap;
}

code span[br='2']::before {
    white-space: pre-wrap;
    content: '\a\a';
}

code span[none] {
    color: #ccc;
}

code span[com]::after {
    content: ';';
    color: #ccc !important;
}

code span[func] {
    color: #ffd700;
}

code span[tab]::before {
    content: '\a    ';
}

code span[var] {
    color: #87cefa;
}

code span[key] {
    color: #dc8cdc;
}

code span[kwd] {
    color: #1e90ff;
}

code span[string] {
    color: #ff7f50;
}

code span[int] {
    color: #8fbc8f;
}

.topnav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: #ccc 1px solid;
}

footer {
    width: 80%;
    border-top: 1px dashed #ccc;
    margin: 0 auto;
}

.centerDiv {
    width: 70%;
    margin: 0 auto;
}

.centerDiv2 {
    position: absolute;
    top: 50%;
    left: 50;
    transform: translate(-50%, -50%);
}

.centerParagraph {
    text-align: center;
}

.centerImage {
    display: block;
    width: 200px;
    margin: 0 auto;
}

footer ul {
    width: 100%;
    list-style-type: none;
}

footer ul li {
    width: 25%;
    float: left;
    color: #8fbc8f;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

/* for centering the table cell in the table */
.wrapper {
    display: table;
    vertical-align: middle;
    height: fit-content;
    width: fit-content;
}

/* for controling the propertities in the inline block */
.wrapper.parent {
    display: table-cell;
    vertical-align: middle;
    align-content: center;
}

.wrapper.parent.child {
    display: inline-block;

}

/*
*                   universal selecto
div                 select div
#idName             select the id with that name
.Name               class selector
.blue.red           class bule and red
:pseudo-class       all elements with pseudo-class
::pseudo-element    element that matches pseudo-element
:lang(en)           element that matches :lang declaration, for example <span lang="en"></span>

div span    descendant selector (all <span>s that are descendants of a<div>)
div > span  child selector (all <span>s that are a direct child of a <div>)
a ~ span    General Sibling selector (all <span>s that are siblings after an <a>)
a + span    adjacent Sibling selector (all <span>s that are immediately after an <a>)


[x          ]           with attribute x
[x  = 'val' ]           wehre x has value val
[x ~= 'val' ]           where val appears in the whitespace-separated list of x
[x ^= 'val' ]           where x begins with val
[x $= 'val' ]           where x end with val
[x *= 'val' ]           where x contain val
[x |= 'val' ]           wehre x starts with val and followed by -
[x  = 'val'[i ]         where x has value val ignoring lettercase

*/